.product-preview-card {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    max-width: 12.5rem;
}

.product-preview-text-container {
    display: flex;
    flex-direction: column;
    align-items: start;
    color: var(--text-main-color);
    overflow: hidden;
    min-width: 0;
}

.product-preview-image {
    width: 12.5rem;
    border-radius: 1rem;
    object-fit: cover;
    cursor: pointer;
}

.product-preview-image:hover {
    box-shadow: 0 1.25rem 0.75rem -1rem rgba(0,30,85,.1);
    filter: brightness(90%);
}

.product-preview-price {
    font-size: 18px;
    font-weight: 700;
    margin: 0;
    cursor: pointer;
}

.product-preview-title {
    margin: 0;
    font-size: 14px;
    font-weight: 400;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
    width: 100%;
}

.buy-button-text {
    font-weight: 600;
    font-size: 14px;
}
