.login-container {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid var(--neutral-color);
    border-radius: 1.25rem;
    box-shadow: 0 1.25rem 0.75rem -1rem rgba(0,30,85,.1),0 0.5rem 1.5rem 1.125rem rgba(0,30,85,.05);
}

.login-container h2 {
    text-align: center;
    margin-bottom: 20px;
}

.form-group {
    padding: 1rem;
}

.form-group label {
    display: block;
    font-weight: bold;
}

.form-group input {
    width: 100%;
    padding: 8px;
    border: 1px solid var(--neutral-color);
    border-radius: 4px;
}

.error {
    color: red;
    font-size: 0.9em;
    margin-bottom: 10px;
}
