:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --secondary-color: #f6f8fa;
  --main-color: #fff;
  --neutral-color: #d1d9e0;
  --primary-color: #4888d4;
  --primary-hover-color: #599cea;
  --text-main-color: #242424;
}

body {
  margin: 0;
  box-sizing: border-box;
}

p {
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

.page {
  padding: 1.5rem 2rem 3rem 2rem;
  margin: 0 auto;
  max-width: 1504px;
}
